[user]
	name = takuhito-h
	email = bluesbug@gmail.com
[core]
	excludesfile = /Users/taku/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.5.5/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = matching
[alias]
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
